* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
#delete-btn {
	background-color: darkblue;
	border: none;
	padding: 10px 20px;
	display: block;
	margin: 20px auto;
	color: white;
	cursor: pointer;
}

.characters-list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
	background-color: darkblue;
	padding: 20px;
}

.char-card {
	display: flex;
	padding: 10px;
	background-color: white;
	border-radius: 10px;
	justify-content: space-between;
}
.char-info {
	display: flex;
	flex-direction: column;
}
.char-card img {
	width: 30%;
	height: 200px;
	object-fit: cover;
}
.char-name {
	font-size: 26px;
}
.house {
	margin: 10px 0;
	font-size: 20px;
}
.btns {
	margin-top: auto;
}
.btns button {
	border-radius: 8px;
	border: none;
	padding: 5px;
	cursor: pointer;
}
.delete-card {
	background-color: red;
	margin-left: 10px;
}
.show-info {
	background-color: aqua;
}
.actor-name {
	font-size: 22px;
	opacity: 0;
}
.actor-name.active {
	opacity: 1;
}
@media (max-width: 768px) {
	.characters-list {
		grid-template-columns: 1fr;
	}
	.char-card {
		flex-direction: column-reverse;
		justify-content: center;
	}
	.char-card img {
		width: 100%;
		height: 300px;
		margin-bottom: 20px;
	}
	.btns {
		margin-top: 20px;
	}
}

/* slides */
.slider {
	position: relative;
	padding: 30px 0;
	position: relative;
}
.slider-wrapper {
	display: flex;
	height: 400px;
	position: relative;
	justify-content: end;
}
.slide {
	display: none;
	opacity: 0;
	visibility: hidden;
	width: 0;
	transform: scale(0);
	transition: all 0.6s;
	position: relative;
}
.slide.active {
	display: block;
	width: 100%;
	opacity: 1;
	visibility: visible;
	transform: scale(1);
}

.slide-desc {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	background-color: aliceblue;
	border-radius: 10px;
	padding: 10px 20px;
	width: 80%;
}
.slide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.slider-btns button {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 50%;
	cursor: pointer;
	transform: translateY(-50%);
	background-color: aliceblue;
}
.slider-btns button:hover {
	background-color: blueviolet;
	border-color: transparent;
}

.next {
	right: 10px;
}
.prev {
	left: 10px;
}

.divbutton1 {
	background-color: black;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	margin-right: 10px;
}
.divbutton2 {
	background-color: black;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	margin-right: 10px;
}
.divbutton3 {
	background-color: black;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	margin-right: 10px;
}
.divbutton4 {
	background-color: black;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	margin-right: 50px;
}

.div {
	width: 150px;
	height: 50px;
	display: flex;
	position: absolute;
	margin-top: 20px;
}








.clock {
	background-color: black;
	margin-top: 100px;
	width: 300px;
	height: 100px;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.clock1 {
	font-size: 40px;
	color: blue;

}
.hour {
	color: blue;
}
.minute {
	color: blue;
}
.second {
	color: blue;
}
.ampm {
	color: blue;
}

.dots {
	color: blue;
}